// USER VARIABLES SECTION

@accent: #CBEAFF; // Accent Color
@textcolor: #292929; // Text Color
@white: #ffffff;
@red: #FFC8BE;
@green: #C7FBD2;
@light_gray: #C2C2C2;
@mainfamily: 'Lato', sans-serif; // Main Font Family

// GENERAL DOCUMENT STYLES

.reset();

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	.wrapper();
}

// ::placeholder {
// 	color: @white;
// 	font-size: 12px;
// }

::selection {
	background-color: @accent;
	color: @white;
}

// input,
// textarea {
// 	outline: none;

// 	&:focus:required:invalid {
// 		border-color: red
// 	}

// 	&:required:valid {
// 		border-color: green
// 	}
// }
// html {
// 	scroll-behavior: smooth;
// }

body {
	font-size: 20px;
	line-height: 32px;
	min-width: 320px;
	position: relative;
	font-family: @mainfamily;
	font-weight: 300;
	// overflow-x: hidden;
	color: @textcolor;
	background-color: @white;
	// letter-spacing: 0.01em;
}

// .scroll-disabled {
	// position: relative;
	// overflow: hidden;
// }

input, button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.page-psyhology {
	background-color: #FCFEFF;
}

.page-fitnes {
	background-color: #FFFDFC;
}

.page-diet {
	background-color: #F8FBF9;
}

h1, h2, h3, h4 {
	font-family: 'Poiret One', cursive;
	font-weight: 400;
}

.section-title {
	font-size: 56px;
	line-height: 100%;
	
	.sm-block({
		text-align: left;
		font-size: 28px;
	});
}

// a {
// 	color: inherit;
// 	text-decoration: none;
// 	transition: all 0.5s;

// 	&:hover, .active {
// 		color: @accent;
// 	}
// }

