.typical {
	padding: 140px 0;
	.md-block({
		padding: 60px 0;
	});


	&__content {
		.row-flex();
		position: relative;
		justify-content: center;
		align-items: center;

		&--alt {
			.typical__text {
				padding-left: 90px;
				padding-right: 0;
				.md(padding, 0px);
			}
			.typical__pic {
				order: -1;
				.md(order, unset);
			}
		}
	}

	.home &__content {
		padding-bottom: 50px;
	}

	&__text {
		.col();
		.size(6);
		.size-md(12);
		padding-left: 0;
		padding-right: 90px;
		margin-bottom: 24px;
		.md(padding, 0px);

		li {
			margin-bottom: 20px;
			&::before {
				content: '\25A0';
				margin-right: 15px;
				color: @accent;
			}
		}

		mark {
			background-color: @accent;
		}
	}

	&__title {
		margin-bottom: 40px;
		.md(margin-bottom, 24px);
	}

	&__par, &__text li { 
		font-size: 20px;
		line-height: 32px;
		letter-spacing: 0.04em;
		margin-bottom: 20px;

		.sm-block({
			font-size: 16px;
			line-height: 160%;
			margin-bottom: 12px;
		});

		&:last-of-type {
			margin-bottom: 40px;
			.md(margin-bottom, 0);
		}
	}

	&__link {
		.md-block({
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
		});
	}

	&__pic {
		.col();
		.size(6);
		.size-md(12);
		.md-block({
			// padding-bottom: 50px;
		});

		img {
			width: 600px;
		}
	}
}

.typical-wrapper {
	position: relative;
	&::after {
		position: absolute;
		content: '';
		width: 632px;
		height: 1977px;
		background: url(../img/typ-wrap-bg.svg) no-repeat;
		left: 0;
		top: 0;
		z-index: -1;
	}
}

@media (max-width: 1570px) {
	.typical-wrapper::after {
		display: none;
	}
}

.typical--psyh {
	background-color:#FCFEFF;
}

.typical--diet {
	background-color: #F8FBF9;
}

.typical--fitnes {
	background-color: #FFFDFC;
}

.typical--1 {
	padding-bottom: 0;
	.md(padding-bottom, 0);
}

.typical--2 {
	padding-top: 0;
	.md(padding-top, 0);

	.typical__par {
		margin-bottom: 20px!important;
	}
}

// fitnes page 2 and 3 section

.page-fitnes {
	.typical__title {
		position: relative;
		&::before {
			position: absolute;
			content: '';
			width: 60px;
			height: 2px;
			left: -90px;
			top: 50%;
			background-color: @red;
		}
	}
}

// common psyhology and diet page styles
.page-psyhology, .page-diet {
	.typical {
		&__title {
			position: relative;
			display: inline-block;
			&::before {
				position: absolute;
				content: '';
				width: 60px;
				height: 2px;
				left: -90px;
				top: 50%;
				background-color: @accent;
				.sm-block({
					display: none;
					// width: 40px;
					// left: unset;
					// right: -50px;
				});
			}
		}
	}
}

.page-diet {
	.typical {
		&__title {
			&::before {
				background-color: @green;
			}
		}
	}
}

// psyhology page whom section
@import "page-psyhology/psyhology-whom";

// psyhology page solution section
@import "page-psyhology/psyhology-solution";

// diet page whom section
@import "page-diet/diet-whom";

// diet page solution section
@import "page-diet/diet-solution";

