.what {
	padding-bottom: 140px;
	
	&__title {
		margin-bottom: 100px;
		text-align: center;
	}

	&__content {
		.row-flex();
	}

	&__item {
		.col();
		.size(4);
		padding: 40px;
		border: 1px solid @green;
		border-radius: 8px;

		img {
			position: relative;
			&::after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 60px;
				height: 60px;
				background-color: @green;
				border-radius: 8px;
			}
		}
	}
}